<!DOCTYPE html>

<html lang="es">
    <head>
        <meta charset="utf-8">
        <title>Inicio</title>
        <meta name="viewport" content="width=device-width, user-scalable=no">
        <link rel="icon" type="favicon/x-icon" href="../../../assets/media/Logo.png">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" >

    </head>

    <body>
        <header>
          <div class="logo">
            <img src="../../../assets/media/Logo.png" alt="logo">
            <h1 class="nombre-banco">BanQuito</h1>
          </div>

          <div class="container mt-3">
            <div class="row mb-3 mx-auto">
              <div class="col-12">
                <button routerLink="/login" type="submit" class="btn btn-danger col-1 float-end">Salir</button>
              </div>
            </div>
          </div>
        </header>

          <form [formGroup]="FormNuevasCredenciales" (ngSubmit)="submitFormulario()" class="formulario">
            <h1>Bienvenido, por favor ingrese sus nuevas credenciales</h1>
              <div class="contenedor">
                <div class="input-contenedor">
                  <i class="fas fa-user icon"></i>
                  <input formControlName="usuario" [class.is-invalid]='f.usuario.errors && f.usuario.touched' type="text" placeholder="Nuevo Usuario" required pattern = "^([a-zA-Z0-9]+){8}$">
                  <div id="validationServerUsernameFeedback" class="invalid-feedback">
                    Por favor, ingrese un usuario válido.
                  </div>
                </div>
                  
                <div class="input-contenedor">
                  <i class="fas fa-key icon"></i>
                  <input formControlName="password" [class.is-invalid]='f.password.errors && f.password.touched' type="password" placeholder="Nueva Contraseña"  required pattern = "^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[@])[a-zA-Z\d@]{8,16}$">
                  <div id="validationServerUsernameFeedback" class="invalid-feedback">
                    Por favor, ingrese una contraseña válida.
                  </div>
                </div>
                <div class="nota">
                  <p>- El usuario solo puede contener números y letras.</p>
                  <p>- El usuario debe tener al menos 8 caracteres.</p>
                  <p>- La contraseña debe contar con:</p>
                  <ul>
                    <li>Una longitud de 8 a 16 caracteres.</li>
                    <li>Al menos una letra mayúscula y una minúscula.</li>
                    <li>Al menos un número.</li>
                    <li>El símbolo @.</li>
                  </ul>
                </div>
                <button class="button btn-success">Registrar</button>
              </div>
          </form>
    </body>
</html>