*{
    margin: 0px;
    padding: 0px;
}
body{
	font-family: Arial, Helvetica, sans-serif;
	background: url("../../../assets/media/patron.png");
}
header{
    display: flex;
    height: 70px;
    background-color: #161719;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.logo{
    display: flex;
    align-items: center;
}

.logo img{
    height: 50px;
    margin-right: 25px;
    margin-left: 10px;
}
.nombre-banco{
    color: #9e0004;
    font-size: 50px;
}

.contenedor{
    width: 100%;
    padding: 15px;
    padding-top: 25px;
    padding-bottom: 20px;
}
.contenedor p{
    color: #000000;
    text-align: center;
    font-style: italic;
}
.formulario{
    background: #85725F;
    padding: 20px;
    margin: auto;
    width: 500px;
    margin-top: 150px;
    border-radius: 2%;
    margin-bottom: 150px;

}
.formulario h1{
    text-align: center;
    color: #ffffff;
    font-size: 35px;
}
input[type="number"]{
    font-size: 20px;
    width: 82%;
    padding: 10px;
    border: none;
}
.input-contenedor{
    margin-bottom: 20px;
    border: 1px solid #aaa;
}
.input-contenedor span{
    background: rgb(229, 100, 100);
    color: rgb(0, 0, 0);
    padding: 5px;
    border-radius: 5px;
}
.icon{
    min-width: 50px;
    text-align: center;
    color: #060606;
}
.button{
    border: none;
    color: white;
    font-size: 20px;
    background:  #9E0004;
    padding: 15px 20px;
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
}
.button:hover{
    background: #610105;
}
.button:disabled{
    background: #ab595b;
}
#validationServerUsernameFeedback{
    color: white;
    background: #ab595b;
}

/* EXITO */
#exito p{
    color: #ffffff;
    font-style: italic;
    text-align: center;
}
