*{
    margin: 0px;
    padding: 0px;
}
body{
	font-family: Arial, Helvetica, sans-serif;
	background: url("../assets/media/patron.png");
}
header{
    display: flex;
    height: 70px;
    background-color: #161719;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.logo{
    display: flex;
    align-items: center;
}

.logo img{
    height: 50px;
    margin-right: 25px;
    margin-left: 10px;
}
.nombre-banco{
    color: #9e0004;
    font-size: 50px;
}

.contenedor{
    width: 100%;
    padding: 15px;
    padding-top: 50px;
    padding-bottom: 100px;
}
.formulario{
    background: #85725F;
    margin-top: 150px;
    padding: 3px;
}
.formulario h1{
    text-align: center;
    color: #ffffff;
    font-size: 35px;
}
input[type="text"],
input[type="password"]{
    font-size: 20px;
    width: 82%;
    padding: 10px;
    border: none;
}
.input-contenedor{
    margin-bottom: 15px;
    border: 1px solid #aaa;
}
.icon{
    min-width: 50px;
    text-align: center;
    color: #060606;
}
.button{
    border: none;
    width: 100%;
    color: white;
    font-size: 20px;
    background:  #9E0004;
    padding: 15px 20px;
    border-radius: 5px;
    cursor: pointer;
}
.button:hover{
    background: #9E0004;
}
.button:disabled{
    background: #ab595b;
}
p{
    text-align: center;
}

/*@media(min-width:768px)
{
    .formulario{
        margin: auto;
        width: 500px;
        margin-top: 150px;
        border-radius: 2%;
    }
}*/