<!DOCTYPE html>

<html lang="es">
    <head>
        <meta charset="utf-8">
        <title>Inicio</title>
        <meta name="viewport" content="width=device-width, user-scalable=no">
        <link rel="icon" type="favicon/x-icon" href="../../../assets/media/Logo.png">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" >

    </head>

    <body>
      <header>
        <div class="logo">
          <img src="../../../assets/media/Logo.png" alt="logo">
          <h1 class="nombre-banco">BanQuito</h1>
        </div>

        <div id="salir" class="container mt-3" style="display: none">
          <div class="row mb-3 mx-auto">
            <div class="col-12">
              <button (click)="volverBtn()" type="submit" class="btn btn-danger col-1 float-end">Salir</button>
            </div>
          </div>
        </div>
      </header>

      <form [formGroup]="myForm" (ngSubmit)="submitFormulario()" class="formulario">
        <h1>Bienvenido a tu banca web</h1>
          <div class="contenedor">
            <div id="user" class="input-contenedor">
              <i class="fas fa-user icon"></i>
              <input formControlName="usuario" [class.is-invalid]='f.usuario.errors && f.usuario.touched' type="text" placeholder="Usuario" required pattern = "[a-zA-Z0-9]+">
              <div id="validationServerUsernameFeedback" class="invalid-feedback">
                Por favor, ingrese el usuario
              </div>
            </div>
              
            <div id="pass" class="input-contenedor">
              <i class="fas fa-key icon"></i>
              <input formControlName="password" [class.is-invalid]='f.password.errors && f.password.touched' type="password" placeholder="Contraseña"  required pattern = "^(?=.*[@]?)(?=.*\d?)(?=.*[a-z]?)(?=.*[A-Z]?)[a-zA-Z\d@]{4,25}$">
              <div id="validationServerUsernameFeedback" class="invalid-feedback">
                Por favor, ingrese la contraseña
              </div>
            </div>

            <div id="otp" class="input-contenedor" style="display: none">
              <i class="fas fa-lock icon"></i>
              <input formControlName="otp" [class.is-invalid]='f.otp.errors && f.otp.touched' type="number" placeholder="Codigo de verificación"  required pattern = "^([0-9]+){6}$">
              <div id="validationServerUsernameFeedback" class="invalid-feedback">
                Por favor, ingrese el codigo de verificación
              </div>
            </div>

            <button id="btn" class="button btn-success">Entrar</button>
          </div>
      </form>
    </body>
</html>