<!DOCTYPE html>

<html lang="es">
    <head>
        <meta charset="utf-8">
        <title>Inicio</title>
        <meta name="viewport" content="width=device-width, user-scalable=no">
        <link rel="icon" type="favicon/x-icon" href="../../../assets/media/Logo.png">
        <!-- <link rel="stylesheet" type="text/css" href="../login/login.component.css">-->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" >

    </head>

    <body>
      <header>
        <div class="logo">
          <img src="../../../assets/media/Logo.png" alt="logo">
          <h1 class="nombre-banco">BanQuito</h1>
        </div>
      </header>

      <form class="formulario" #formLogin="ngForm"  method="POST">
    
        <h1>Bienvenido a tu banca web</h1>
          <div class="contenedor">
            <div class="input-contenedor">
              <i class="fas fa-user icon"></i>
              <input id="user" type="text" name="usuario" #usuario="ngModel" [(ngModel)]="login_usuario.username" placeholder="Usuario" required pattern = "[a-zA-Z0-9]+" >
              <span *ngIf="usuario.touched && !usuario.valid">
                Por favor ingrese el usuario
              </div>
              
              <div class="input-contenedor">
              <i class="fas fa-key icon"></i>
              <input id="pass" type="password" name="pass" #pass="ngModel" [(ngModel)]="login_usuario.password" placeholder="Contraseña" required pattern = "[a-zA-Z0-9]+" >
              <span *ngIf="pass.touched && !pass.valid">
                Por favor ingrese la contraseña
              </span>
            </div>
              <input id="submit" type="button" value="Entrar" class="button" [disabled]="!formLogin.form.valid" (click)="verificarUsuario()"  >
          </div>
      </form>
    </body>
</html>