<!DOCTYPE html>

<html lang="es">

<head>
  <meta charset="utf-8">
  <title>Inicio</title>
  <meta name="viewport" content="width=device-width, user-scalable=no">
  <link rel="icon" type="favicon/x-icon" href="../../../assets/media/Logo.png">
  <link rel="stylesheet" type="text/css" href="../menu-principal/menu-principal.component.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
  <link rel="stylesheet" href="https://kit.fontawesome.com/39d269d22a.css" crossorigin="anonymous">

  <script src="https://kit.fontawesome.com/41bcea2ae3.js" crossorigin="anonymous"></script>
  <script src="https://kit.fontawesome.com/39d269d22a.js" crossorigin="anonymous"></script>
</head>

<body>
    <!--Menu lateral-->
  
    <div class="menu__side" id="menu_side">
  
      <div class="options__menu">
  
        <a href="/menu" class="selected">
          <div class="option">
            <i class="fas fa-home" title="Inicio"></i>
            <h4>INICIO</h4>
          </div>
        </a>
  
        <a >
          <div class="option">
            <i class="far fa-file" title="Pagos"></i>
            <h4>Pagos</h4>
          </div>
        </a>
        <a>
          <div class="option" (click)="transferencias()">
            <i class="fas fa-video" title="Transferencias" ></i>
            <h4>Transferencias</h4>
          </div>
        </a>
        <a >
          <div class="option">
            <i class="far fa-sticky-note" title="Solicitudes"></i>
            <h4>Solicitudes</h4>
          </div>
        </a>
  
        <a >
          <div class="option">
            <i class="far fa-id-badge" title="Contacto"></i>
            <h4>Contacto</h4>
          </div>
        </a>
  
        <a >
          <div class="option">
            <i class="far fa-address-card" title="Nosotros"></i>
            <h4>Nosotros</h4>
          </div>
        </a>
  
      </div>
  
    </div>
    <!--FIN    Menu lateral-->
    <main>
      <header>
        
        <div class="row">
          <div class="col-4" id="logo">
            <img src="../../../assets/media/Logo.png" alt="logo">
            <h1 class="nombre-banco">BanQuito</h1>
          </div>
          <div class="col-4" id="cliente">
            <img src="../../../assets/media/usuario.png" alt="cliente">
            <h1 class="nombre-cliente" id="nombre-cliente"></h1>
          </div>
        </div>
        <div class="container mt-3">
          <div class="row mb-3 mx-auto">
            <div class="col-12 ">
              <button routerLink="/login" type="submit" class="btn btn-danger col-2 float-end">Cerrar Sesión</button>
            </div>
          </div>
        </div>
      </header>

      

      <div class="cuenta" *ngFor="let cuenta of listCuentas">
        <div class="cuenta-contenido">
          <div class="row">
            <div class="col-6">
              <h1 class="numero">N<sup>o</sup>: {{cuenta.numero_cuenta}}</h1>
            </div>
            <div class="col-6">
              <h2 class="tipo" >{{cuenta.tipo_cuenta}}</h2>
            </div>
          </div>
          <div class="row">
            <div class="col-6">
              <h3 class="ingreso">Saldo disponible: <b>{{cuenta.monto_inicial | currency:'USD'}}</b></h3>
            </div>
            <div class="col-6">
              <h3 class="ingresoP">Ingresos Promedio: <b>{{cuenta.ingreso_promedio | currency:'USD'}}</b></h3>
            </div>
          </div>
        </div>
      </div>

    </main>
  </body>
</html>