<header>
    <div class="logo">
      <img src="../../../assets/media/Logo.png" alt="logo">
      <h1 class="nombre-banco">BanQuito</h1>
    </div>
  </header>
  <div class="container">
    <div class="row" style="margin-top: 20%;">
        <div class="card w-75 mx-auto ">
            <div class="row ">
                <button  class="btn btn-secondary col mx-2 my-4 pb-2">Registro Completo de un usuario</button>
                <button  class="btn btn-secondary col mx-2 my-4 pb-2">Registrar nueva Cuenta</button>
                <button  class="btn btn-secondary col mx-2 my-4 pb-2">Administrar clientes</button>
            </div>
        </div>
    </div>
</div>