<div class="container mt-3">
    <div class="row mb-3 w-75 mx-auto">
        <div class="col-12 float-end">
            <button routerLink="/menu-admin" type="submit" class="btn btn-danger col-2 float-end">Regresar</button>
        </div>
    </div>
    <div class="card w-75 mx-auto">
        <div class="row mx-auto mt-2">
            <span>
                <h2>Administraci&oacute;n de Clientes</h2>
            </span>
        </div>
        <div class="row mx-auto mt-3">
            <h5>Ingresa el n&uacute;mero de c&eacute;dula del cliente</h5>
            <hr>
        </div>
        <form [formGroup]="formularioCedula" class="mx-auto mt-2 text-center" (ngSubmit)="buscarCliente()">
            <div class="form-group">
                <div class="row">
                    <div class="col-9 mt-1">
                        <input #cedula formControlName="cedula" formControlName="cedula" class="form-control"
                            type="text" placeholder="Ej.1753647740">
                    </div>
                    <div class="col-3">
                        <button type="submit" [disabled]="formularioCedula.invalid"
                            class="btn btn-primary">Buscar</button>
                    </div>
                </div>
                <div class="row mx-auto mt-1 text-danger text-center">
                    <span
                        *ngIf="formularioCedula.get('cedula')?.hasError('required') && formularioCedula.get('cedula')?.touched">
                        Este campo es obligatorio
                    </span>
                    <span *ngIf="formularioCedula.get('cedula')?.hasError('pattern')">
                        Solo se aceptan diez d&iacute;gitos, sin espacios en blanco.
                    </span>
                </div>
                <div class="row card mx-auto mb-2">
                    <div class="card-body">
                        <p #infoCuentas>##Info de la cuenta##</p>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="card w-75 mx-auto mt-2" >
        <div class="card-body mx-4">
            <h5 #titulo class="float-start">Configura la cuenta de un usuario</h5>
            <br>
            <hr>
            <div class="my-3  text-center" *ngIf="showToggle">
                <div class="col">
                    <div ngbDropdown >
                        <button type="button" class="btn btn-primary" id="TipoCuenta" ngbDropdownToggle>Selecciona la
                            entidad relacionada que deseas configurar</button>
                        <div ngbDropdownMenu="TipoCuenta">
                            <button type="button" (click)="configCliente()" ngbDropdownItem>Configurar datos del cliente</button>
                            <button type="button" ngbDropdownItem>Configurar datos de la cuenta</button>
                            <button type="button" ngbDropdownItem>Configurar datos del usuario</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Cuerpo 1>CLIENTE-->
        <div class="card-body mx-auto w-50">
            <form [formGroup]="formularioCliente" (ngSubmit)="agregarCliente()" *ngIf="showForm1">
                <div class="form-group my-2">
                    <div class="row text-center">
                        <label>
                            <mat-radio-group formControlName="estado">
                                <mat-radio-button value = 1>Activa</mat-radio-button>
                                <mat-radio-button value = "" >Pasiva</mat-radio-button>
                            </mat-radio-group>
                        </label>
                    </div>
                    <label class="float-start">Nombres</label>
                    <input type="text" formControlName="nombres" class="form-control" placeholder="Ej. John Carl">
                    <!--Letreros de error-->
                    <div class="text-danger"
                        *ngIf="formularioCliente.get('nombres')?.hasError('required') && formularioCliente.get('nombres')?.touched">
                        Este campo es obligatorio
                    </div>
                    <div class="text-danger" *ngIf="formularioCliente.get('nombres')?.hasError('pattern')">
                        No se permite: n&uacute;meros, simbolos(excepto '), espacios en blanco,
                        espacios luego de una palabra.
                    </div>
                    <!--------------------->
                </div>
                <div class="form-group my-2">
                    <label class="float-start">Apellidos</label>
                    <input type="text" formControlName="apellidos" class="form-control" placeholder="Ej. Doe Smith">
                    <!--Letreros de error-->
                    <div class="text-danger"
                        *ngIf="formularioCliente.get('apellidos')?.hasError('required') && formularioCliente.get('apellidos')?.touched">
                        Este campo es obligatorio
                    </div>
                    <div class="text-danger" *ngIf="formularioCliente.get('apellidos')?.hasError('pattern')">
                        No se permite: n&uacute;meros, simbolos(excepto '), espacios en blanco,
                        espacios luego de una palabra.
                    </div>
                    <!--------------------->
                </div>
                <div class="row">
                    <div class="form-group my-2 col-lg-7 ">
                        <label class="float-start">C&eacute;dula de ciudadan&iacute;a</label>
                        <input type="text" formControlName="cedula" class="form-control" placeholder="Ej. 1753647740">
                        <!--Letreros de error-->
                        <div class="text-danger"
                            *ngIf="formularioCliente.get('cedula')?.hasError('required') && formularioCliente.get('cedula')?.touched">
                            Este campo es obligatorio
                        </div>
                        <div class="text-danger" *ngIf="formularioCliente.get('cedula')?.hasError('pattern')">
                            Solo se aceptan diez d&iacute;gitos, sin espacios en blanco.
                        </div>
                        <!--------------------->
                    </div>
                    <div class="form-group my-2 col-lg-5 ">
                        <label class="float-start">C&oacute;digo dactilar</label>
                        <input type="text" formControlName="codDactilar" class="form-control"
                            placeholder="Ej. V3333V2222">
                        <!--Letreros de error-->
                        <div class="text-danger"
                            *ngIf="formularioCliente.get('codDactilar')?.hasError('required') && formularioCliente.get('codDactilar')?.touched">
                            Este campo es obligatorio
                        </div>
                        <div class="text-danger" *ngIf="formularioCliente.get('codDactilar')?.hasError('pattern')">
                            Solo se acepta c&oacute;digos que constan de una letra, seguida de 4
                            d&iacute;gitos,seguida de una letra y cuatro d&iacute;gitos, sin
                            espacios.
                        </div>
                        <!--------------------->
                    </div>
                </div>
                <div class="form-group my-2 col-lg-6">
                    <label class="float-start">Fecha de nacimiento</label>
                    <input type="date" formControlName="fechaNacimiento" class="form-control  ">
                    <!--Letreros de error-->
                    <div class="text-danger"
                        *ngIf="formularioCliente.get('fechaNacimiento')?.hasError('required') && formularioCliente.get('fechaNacimiento')?.touched">
                        Este campo es obligatorio
                    </div>
                    <!--------------------->
                </div>
                <div class="form-group my-2">
                    <label class="float-start">Correo electr&oacute;nico</label>
                    <br>
                    <div class="row">
                        <div class="col-7">
                            <input type="email" formControlName="email" class="form-control"
                                placeholder="Ej. johndoe@example.com">
                        </div>
                        <div class="col-5">
                            <button type="button" class="col btn btn-primary">Enviar c&oacute;digo</button>
                        </div>
                        <!--ESTO DEBE APARECER LUEGO DE PULSAR EL BOTON-->
                        <div class="col-5">
                            <input type="text" class="form-control" placeholder="ej. abc123">
                            <small class="text-muted"><a href="#">Reenviar c&oacute;digo</a></small>
                        </div>
                        <!---->
                    </div>
                    <!--Letreros de error-->
                    <div class="text-danger"
                        *ngIf="formularioCliente.get('email')?.hasError('required') && formularioCliente.get('email')?.touched">
                        Este campo es obligatorio
                    </div>
                    <div class="text-danger" *ngIf="formularioCliente.get('email')?.hasError('email')">
                        Solo se acepta correos electr&oacute;nicos v&aacute;lidos.
                    </div>
                    <!--------------------->
                </div>
                <div class="form-group my-2">
                    <label class="float-start">Domicilio</label>
                    <input type="text" formControlName="domicilio" class="form-control"
                        placeholder="Ej. Av. Ladr&oacute;n de Guevara E11-253, Quito ">
                    <!--Letreros de error-->
                    <div class="text-danger"
                        *ngIf="formularioCliente.get('domicilio')?.hasError('required') && formularioCliente.get('domicilio')?.touched">
                        Este campo es obligatorio
                    </div>
                    <div class="text-danger" *ngIf="formularioCliente.get('domicilio')?.hasError('pattern')">
                        El tama&ntilde;o m&aacute;ximo son cien caracteres.
                    </div>
                    <!--------------------->
                </div>
                <div class="form-group my-2">
                    <label class="float-start">Ocupaci&oacute;n</label>
                    <input type="text" formControlName="ocupacion" class="form-control"
                        placeholder="Ej. Software Developer">
                    <!--Letreros de error-->
                    <div class="text-danger"
                        *ngIf="formularioCliente.get('ocupacion')?.hasError('required') && formularioCliente.get('ocupacion')?.touched">
                        Este campo es obligatorio
                    </div>
                    <div class="text-danger" *ngIf="formularioCliente.get('ocupacion')?.hasError('pattern')">
                        El tama&ntilde;o m&aacute;ximo son cien caracteres.
                    </div>
                    <!--------------------->
                </div>
                <div class="form-group my-2">
                    <label class="float-start">N&uacute;mero de tel&eacute;fono</label>
                    <input type="text" formControlName="numeroTelefono" class="form-control"
                        placeholder="Ej. 0984318743">
                    <!--Letreros de error-->
                    <div class="text-danger"
                        *ngIf="formularioCliente.get('numeroTelefono')?.hasError('required') && formularioCliente.get('numeroTelefono')?.touched">
                        Este campo es obligatorio
                    </div>
                    <div class="text-danger" *ngIf="formularioCliente.get('numeroTelefono')?.hasError('pattern')">
                        Solo se acepta n&uacute;meros de tel&eacute;fono v&aacute;lidos de diez
                        d&iacute;gitos que empiecen por 09xxxxxxxx.
                    </div>
                    <!--------------------->
                </div>
                <button type="submit" [disabled]="formularioCliente.invalid"
                    class="btn btn-primary mt-3 mb-2">Entregar</button>
            </form>
        </div>

    </div>
</div>